

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
    background: #ededed;
}

.clock {
    width: 600px;
    height: 600px;
    background:#fff;
    border: 6px solid #444;
    border-radius: 50%;
    position: relative;
}

.number {
    position: absolute;
    width:100%;
    height:100%;
    text-align: center;
    transform: rotate(var(--rotation));
    font-size: 20px;
}

.number.one {
    --rotation : 30deg;
}
.number.two {
    --rotation : 60deg;
}
.number.three {
    --rotation: 90deg;
}
.number.four {
    --rotation: 120deg;
}
.number.five {
    --rotation: 150deg;
}
.number.six {
    --rotation: 180deg;
}
.number.seven {
    --rotation: 210deg;
}
.number.eight {
    --rotation: 240deg;
}
.number.nine {
    --rotation: 270deg;
}
.number.ten {
    --rotation: 300deg;
}
.number.eleven {
    --rotation: 330deg;
}
.number.twelve {
    --rotation: 0deg;
}

.center-dot {
    width: 14px;
    height: 14px;
    background: #444;
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
}

.hand {
    --rotation: 0;
    position: absolute;
    bottom: 50%;
    left: 50%;
    transform-origin: bottom;
    transform: translateX(-50%) rotate(calc( var(--rotation)))
}

.hand.second {
    width: 2px;
    height: 40%;
    background: #d70707;
}

.hand.minute {
    width: 4px;
    height: 35%;
    background: #444;
}

.hand.hour {
    width: 4px;
    height: 25%;
    background: #444;
}


